@model NoteModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 mt-5">

    <table class="table table-striped table-dark">
        <thead>
            <tr>

                <th scope="col">id</th>
                <th scope="col">Note</th>
                <th scope="col">Enrolment Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Notes)
            {
                <tr>

                    <td>@item.ID</td>
                    <td>@item.Note</td>
                    <td>@item.EnrollDate</td>
                    <td>@Html.ActionLink("Edit", "GetNote", new { id = item.ID }, new { @class = "btn btn-primary", onclick = "return confirm('Do you want to change it?')" })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete it?')" })</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="alert alert-success" role="alert">
        Do you want to add a new one?
        <a class="link-success" href="/Home/AddNote" role="button">Add</a>
    </div>
</div>

